form, .tittle-form {
  font-family: 'Exo 2', sans-serif;
}
.header-form {
  display: flex;
  justify-content: space-between;
}
.form-control {
  border: 0;
  border-radius: 0px;
  outline: none;
  border-bottom: 1px solid #202020;
  width: 86%;
}
.form-control:focus, .button-form:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.close-modal {
  background-color: transparent;
  color: #202020;
  border: 0px;
}
.close-modal:hover {
  background-color: transparent;
  border: .8px solid #202020;
  color: #202020;
  border-radius: 5px;
}
.box-button-send {
  display: flex;
}
.button-send {
  background-color: #202020;
  color: rgb(235, 235, 235);
  border: 0px;
  border-radius: 25px;
  padding: .3em 1em;
  margin: 0 auto;
}
.button-send:hover {
  background-color: transparent;
  color: #202020;
  border: 1px solid #202020;
}
/* Customized Spinner for file upload 
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */
