@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

.background-home {
  background-image: url('../assets/image/background.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vmax;
  height: 94vh;
  font-family: 'Exo 2', sans-serif;
}
.container-home {
  text-align: center;
  padding-top: 10em;
  color: rgb(235, 235, 235);
}
h1 {
  font-family: 'Audiowide', sans-serif ;
  font-size: 3em;
}
.p-home {
  width: 60%;
  margin: 0 auto;
  font-size: 1.3em;
  padding-top: 6em;
  padding-bottom: 1em;
}