.button-modal {
    background-color: rgb(235, 235, 235);
    color: #202020;
    border-radius: 25px;
    padding: .5em 1em;
}
.button-modal:hover {
    background-color: transparent;
    border: 1px solid rgb(235, 235, 235);
    color:  rgb(235, 235, 235);
}
.button-modal:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

